################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnet5_asp.template/obj/*
/dotnet5_asp.template/bin/*
/.vs/*
